 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", serif;

 }

 nav {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 15px 10%;
     border-bottom: 1px solid #000;
     z-index: 10;
 }

 .logo img {
     width: 150px;
     height: 70px;
 }

 nav ul li {
     display: inline-block;
     list-style: none;
     margin: 10px 20px;
     font-weight: 500;
     cursor: pointer;
 }
 /* nav ul li a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
    color: orangered;
  } */
 .btn-button {
     background: green;
     color: #fff;
     font-size: 16px;
     padding: 15px 25px;
     border: 0;
     outline: 0;
     border-radius: 40px;
     cursor: pointer;
 }
 /* Hamburger Menu Button */

 .hamburger {
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: rgb(9, 9, 9);
    margin: 4px 0;
}

/*------------Media query for header---------------*/

@media only screen and (max-width:600px) {
    nav ul {
        position: absolute;
        width: 100%;
        background: #7be372;
        color: #f4632a;
        left: 0;
        top: 100%;
        text-align: center;
        height: 50px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .btn-button {
        display: none;
    }

    nav .logo {
        width: 150px;
    }

    nav ul li {
        margin: 10px;
        font-size: 15px;
    }

    .hamburger {
        display: block;
    }
    .show-menu {
        max-height: 60px;
    }
}

/*---------------------- main class------------------*/
 .main {
     width: 100%;
     min-height: 100vh;
     background: linear-gradient(#eefff9 0%, #ffccc1 49%, #dcdbff 100%);
     padding: 0 10%;
     display: flex;
     justify-content: center;
     flex-direction: column;

 }

 .main .content {
     width: 50%;
 }

 .main h1 {
     font-size: 40px;
 }

 .btn-1 {
     margin: 20px 0;
 }

 .btn-1 button {
     padding: 10px 10px;
     background-color: green;
     color: rgb(11, 11, 11);
     border: 1px solid transparent;
     border-radius: 30px;
     font-size: 15px;
     letter-spacing: 1px;
     font-weight: 500;
     transition: 0.3s ease;
     cursor: pointer;
 }

 .btn-1 button:hover {
     background-color: orangered;
     color: black;
 }

 .user-image {
     width: 80%;
     max-width: 500px;
     position: absolute;
     right: 13%;
     bottom: 0;
 }

 /*-----------animation----------*/

 .main .content h1 span {
     background: linear-gradient(#000, #000);
     background-repeat: no-repeat;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     background-size: 0%;
 }

 .main .content h1 span:first-child {
     animation: textcolor1 4s linear infinite alternate;

 }

 .main .content h1 span:last-child {
     animation: textcolor2 4s linear infinite alternate;

 }

 @keyframes textcolor1 {
     0% {
         background-size: 0%;
     }

     40% {
         background-size: 100%;
     }

     100% {
         background-size: 100%;
     }
 }

 @keyframes textcolor2 {
     0% {
         background-size: 0%;
     }

     40% {
         background-size: 0%;
     }

     100% {
         background-size: 100%;
     }
 }

 
 /*-------------------media query for main---------------*/
 
 @media only screen and (max-width: 600px) {
     .main {
         padding: 0;
         text-align: left;
         align-items: center;
     }
     .main h1 {
        font-size: 30px;
    }
    .main h3 {
        font-size: 15px;
    }
    .main p{
        font-size: 15px;
    }
     .user-image {
         width: 100%;
         right: auto;
         position: relative;
         margin-top: 100px;
         align-items: center;
     }

 }

 /*-------------footer--------------*/

 footer{
    width: 100%;
    display: flex;
    grid-template-columns: 2fr 1fr 1fr 1fr ;
    gap: 30px;
    justify-content: space-between;
    padding: 50px 10%;
    background: #c9c6f8 ;
    font-size: 15px;
 }
 .home-details ul li {
    display: block;
    margin: 10px 20px;
    font-weight: 500;
    cursor: pointer;
}
.aicte-logo img{
    width: 50%;
}
.logo-details img{
    margin-top: 40px;
    margin-left: 40px;
}
/* --------------- media query for footer --------------*/

@media only screen and (max-width:600px){
    footer{
        width: 100%;
        display: block;
        justify-content: space-between;
        padding: 50px 10%;
        background: #c9c6f8 ;
        font-size: 10px;
        position: relative;

    }
    .aicte-logo img{
        width: 30%;
    }
    
}


/* --------------- overview class --------------*/

.user-image1 {
    width: 80%;
    max-width: 500px;
    position: absolute;
    right: 13%;
    bottom: 0;
}
/* ---------------media query overview class --------------*/
@media only screen and (max-width:600px){
.user-image1 {
    width: 70%;
    right: auto;
    position: relative;
    margin-top: 100px;
    align-items: center;
}
.overview-list{
    font-size: 15px;
}
}

/* --------------- Benefit class --------------*/
.user-image2 {
    width: 80%;
    max-width: 500px;
    position: absolute;
    right: 13%;
    bottom: 0;
}

.collapsible{
    max-width: 450px;
    overflow: hidden;
    font-weight: 500;
}
.collapsible input{
    display: none;
}
.collapsible label{
    position: relative;
    font-weight: 600;
    background: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    color: #1c1c6b;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px 0;
    border-radius: 4px;
    padding-left: 15px;
    z-index: 1;

}
.collapsible label .img1{
    width: 20px;
     height: 20px;
     margin-left: 300px;
} 
.collapsible label .img2{
    width: 20px;
     height: 20px;
     margin-left: 370px;
}
.collapsible label .img3{
    width: 20px;
     height: 20px;
     margin-left: 370px;
}

  /* .collapsible label::after{
    content: "";
    position:absolute;
    right: 15px;
    top: 20px;
    width: 18px;
    height: 18px;
    background: url(Arrow.png);
    transition: all 0.3s ease;
}
 
.collapsible  input:checked + label::after{
    transform: rotate(90deg);
}   */

.collapsible-text{
    max-height: 1px;
    overflow: hidden;
    line-height: 1.4;
    border-radius: 4px;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.collapsible input:checked ~ .collapsible-text{
    max-height: 300px;
    padding-bottom: 25px;
    background: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
}
.collapsible-text p{
    padding: 15px;
    padding-right: 15px;
}
.collapsible-text ul{
        padding-left: 10px;
}

/* ---------------media query benefit class --------------*/

@media only screen and (max-width:600px){

.collapsible{
    max-width: 400px;
    overflow: hidden;
    font-weight: 500;
    margin-top: 25px;
}
.collapsible label{
    font-size: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 15px 0;
    padding-left: 15px;
}
.collapsible label .img1{
    width: 15px;
     height: 10px;
     margin-left: 200px;
} 
.collapsible label .img2 {
    width: 15px;
     height: 10px;
     margin-left: 240px;
}
.collapsible label .img2{
    width: 15px;
     height: 10px;
     margin-left: 240px;
}

.collapsible-text p{
    padding: 15px;
    padding-right: 15px;
    font-size: 12px;
}
.collapsible-text ul{
    font-size: 12px;
    padding: 15px;
    padding-right: 15px;
}
.user-image2 {
    width: 70%;
    right: auto;
    position: relative;
    margin-top: 100px;
    align-items: center;
    top: 15%;
    left: 15%;
}
}
/* --------------- qualification class --------------*/

.qualification-data{
    display: flex;

}
.menu-list li{
    margin-left: 20px;
    display:block;
}
/* --------------- contact class --------------*/


.contact-form{
    margin-top: 15px;
    height: auto;
    width: 40%;
    padding:  20px 40px;
    background: transparent;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
}
.input-data{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.input-data input
 {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    background: transparent;
}
.input-data textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    background: transparent;
    cursor: default;
    border: 2px solid #000;
}
.input-data1{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
}
.input-data input[type="submit"]{
    width: 100px;
    background: #ffccc1;
    border: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .4), 0 4px 11px 0 rgba(0, 0, 0, .08);   
    cursor: pointer;
    padding: 5px 0;
    font-size: 16px;
    margin-left: 35%;
}
.user-image3 {
    width: 80%;
    margin-top: 50px;
    max-width: 500px;
    position: absolute;
    right: 8%;
    top: 25%;
    bottom: 0;
}
/* ---------------media query contact class --------------*/
 
@media only screen and (max-width:600px){
    .contact-form{
        width: 70%;
    }
    .input-data input[type="submit"]{
        margin-left: 30%;
     }
     .paragraph{
        width: 70%;
   }
   .user-image3 {
    width: 70%;
    position: relative;
    align-items: center;
    left: 15%;
}
}